<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
  <div layout="row" layout-align="center center">
  </div>
  <div>
    <md-list flex layout="row" layout-align="center center">
      <md-list-item >
        <div>
        <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
          <ng-md-icon icon="facebook" style="color:#3b5998"></ng-md-icon>
          <div class="md-grid-text"> Facebook </div>
        </md-button>
        </div>
      </md-list-item>
      <md-list-item >
        <div>
        <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
          <ng-md-icon icon="google-plus"style="color:#D34836" ></ng-md-icon>
          <div class="md-grid-text"> Google-Plus </div>
        </md-button>
        </div>
      </md-list-item>
       <md-list-item >
        <div>
        <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
          <ng-md-icon icon="twitter" style="color:#4099FF"></ng-md-icon>
          <div class="md-grid-text"> Twitter </div>
        </md-button>
        </div>
      </md-list-item>
      <md-list-item >
        <div>
        <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
          <ng-md-icon icon="linkedin" style="color:#4875B4"></ng-md-icon>
          <div class="md-grid-text"> Linked in </div>
        </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>