					<md-toolbar class="md-hue-2 md-whiteframe-z2" layout="row">
						<div class="md-toolbar-tools">
							<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('left')"  >
								<ng-md-icon icon="menu"></ng-md-icon>
							</md-button>
							<h2>
								<span>BloodApp</span>
							</h2>
							<span flex></span>
							<!-- <md-button class="md-icon-button" aria-label="Search">
								<ng-md-icon icon="search"></ng-md-icon>
							</md-button> -->
							<md-menu md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
           <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item >
              <md-button ng-click="">
                  <div layout="row" flex>
                  <ng-md-icon md-menu-align-target icon="share" style="margin: auto 10px auto 0;"></ng-md-icon>
                    <p flex>1</p>                    
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="">
                  <div layout="row" flex>
                  <ng-md-icon md-menu-align-target icon="share" style="margin: auto 10px auto 0;"></ng-md-icon>
                    <p flex>2</p>                    
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="">
                  <div layout="row" flex>
                  <ng-md-icon md-menu-align-target icon="share" style="margin: auto 10px auto 0;"></ng-md-icon>
                    <p flex>3</p>                    
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="">
                  <div layout="row" flex>
                  <ng-md-icon md-menu-align-target icon="share" style="margin: auto 10px auto 0;"></ng-md-icon>
                    <p flex>4</p>                    
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="">
                  <div layout="row" flex>
                  <ng-md-icon md-menu-align-target icon="share" style="margin: auto 10px auto 0;"></ng-md-icon>
                    <p flex>5</p>                    
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
							
						</div>
					</md-toolbar>
					

